/*Actualizado*/
body{
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.6em;
    margin: 0;
}



/**--Header del sitio web--**/
.header{
    
    background: white;
    color: white;
    padding: 2rem 0;

    /*Fijo*/
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
/*Escondemos el menu*/
.menu-icon{
    display: none;
}

.logo_nosara{
    height: 100px;
    border-radius: 10%;
    margin: 0px 0px 0px 35px;
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin-bottom:  1.6em;
}

.telefono{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* justify-content: right; */
    max-width: 69%;
    margin: 0 auto;
}
.header-number{
    color:#333;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin-top: -22.064px;
    margin-bottom: 1px;
    margin-left: 40px;
}
.header-icon-telefono{
    margin: 0px 0px 0px 30px;
    height: 25px;
}
.header a{
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Media*/
    flex-wrap: wrap;
}
.facebook-icon{
    margin-top: 5px;
}
.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    color: black;
}

.navigation ul li a:hover{
    background: #e9e9e9;
}

.facebook-icon{
    margin-top: -4px;
    position: absolute;
}

/**--Main principal--**/
.container{
    max-width: 69%;
    margin: 0 auto;
}
.bloque h2{
    margin-bottom: 40px;
}
.bloque h1{
	text-align: center;
	margin: 0;
	font-size: 160px;
	line-height: 600px;
}
.bloque p{
	margin-bottom: 40px;
	font-size: 16px;
}

.bloque.parallax{
	height: 700px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.parallax.image-1{
	background-image: url("../img/tools2.jpg");
}
.parallax.image-2{
	background-image: url("../img/tools.jpg");
}
.parallax.image-3{
	background-image: url("../img/wood.jpg");
}


/*Footer del sitio*/
.footer{
    background: rgb(39, 67, 226);
    padding: 1rem 0;
    text-align: center;
    margin-top: 6rem;
}
.footer-formulario-p{
    color: white;
}
.footer-formulario-a{
    color: white;
}
.footer .derechos{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}


/*Media queery para responsive*/
@media only screen and (max-width: 767px) {

    /*Afecta forms*/
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 1.5rem 2rem;
        color: black;
        margin: 0 auto;
    }

    .facebook-icon{
        display: none;
    }

    
    /*Desaparecer icono de celular*/
    .telefono{
        display: none;
    }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }
    /*Ocultar*/
    .navigation ul{
        display: none;
        color: black;
    }

    .navigation ul.show{
        display: block;
    }

    .navigation ul li{
        display: block;
        text-align: center;
    }
    
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    
    .navigation ul li a:hover{
        background: #4a4a4a;
    }

}
